#animals {
  margin-top: 10px;
}

.animal {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin: 0 5px 5px 0;
  background-color: lightgrey;
  float: left;
}

.animal img {
  width: 128px;
}
